.search-input-container {
    margin: 10px 0;
}

.search-input-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.search-input-container input {
    padding: 8px;
    margin-left: 10px;
    min-width: 25em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.paging-button {
    padding: 8px;
    margin: 10px;
    background: #cccccc;
    border-radius: 4px;
    border-width: 0;
}