.running-text-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.running-text {
    display: inline-block;
    padding-left: 100%;
    animation: run-text linear infinite;
}

.running-text span {
    font-weight: 700;
}

@keyframes run-text {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}